.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-width {
  width: 100%;
}
img{
  max-width:400px; max-height: 400px;
}

.checkout-image{
  max-width: 128px;
  max-height: 128px;
}
.big-button {
  margin-top: 50px;
  height: 100px;
  width: 400px;
  font-size: 45px;
  font-weight: 800;
  border-radius: 10px;
}

.order-card{
  border: 1px solid grey;
  border-radius: 5px;
  min-width: 400px;
  max-width: 600px;
  padding:15px;
}

.thumbnail-small{
  width:64px;
  height: 64px;
}